@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    font-family: var(--fonte-titulos);
    font-size: var(--tamanho-base);
    text-align: center;
    line-height: 1.5;
    font-weight: 400;
  

    color: var(--cor-verde-escuro);
    background-color: var(--cor-creme);
  

  }
  
  h1 {
    font-family: var(--fonte-titulos);
    font-size: var(--tamanho-2xl);
    font-weight: 600;
  }
  

