/* Importação das fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Cores principais */
  --cor-azul-escuro: #183b4e;
  --cor-dourado: #EDF2F7;
  --cor-creme: #ffff;
  --cor-azul-medio: #27548a;
  --cor-preto: #000000;
  --cor-verde-escuro: #16353e;
  --cor-creme-escuro: #DDA853;
  

  /* Tipografia - Famílias de fontes */
  --fonte-titulos: "Montserrat", sans-serif;
  --fonte-corpo: "Montserrat", sans-serif;

  /* Tipografia - Tamanhos de fonte */
  --tamanho-3xs: 0.5rem; /* 8px */
  --tamanho-2xs: 0.625rem; /* 10px */
  --tamanho-xs: 0.75rem; /* 12px */
  --tamanho-pequeno: 0.875rem; /* 14px */
  --tamanho-base: 1rem; /* 16px */
  --tamanho-medio: 1.125rem; /* 18px */
  --tamanho-grande: 1.25rem; /* 20px */
  --tamanho-xl: 1.5rem; /* 24px */
  --tamanho-2xl: 1.75rem; /* 28px */
  --tamanho-3xl: 2rem; /* 32px */
  --tamanho-4xl: 2.5rem; /* 40px */

  /* Tipografia - Peso da fonte */
  --peso-fino: 300;
  --peso-normal: 400;
  --peso-medio: 500;
  --peso-semi-negrito: 600;
  --peso-negrito: 700;
}
