@import "../../../styles/variables.css";

h1{
  color: var(--cor-branca);
}

.forgot-password-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-azul-escuro);
  padding: 8px;
}
.forgot-form{
  width: 100%;
  height: auto;
  max-width: 448px;
  align-items: center;
  background: var(--cor-creme);
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
}

.forgot-header{
  text-align: center;
}

.forgot-inputs{
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.forgot-link{
  color: var(--cor-azul-escuro);
  font-family: var(--fonte-texto);
  font-weight: var(--peso-medio);
  font-size: 14px;
  color: oklch(44.6% 0.043 257.281);
  text-decoration: none;
  text-align: center;
  display: block;
  margin-bottom: 8px;
  position: relative;
  transition: color 0.3s ease;
}

.forgot-link:hover {
  filter: brightness(0.5);
}

.forgot-link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--cor-azul-escuro);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.forgot-link:hover::after {
  transform: scaleX(1);
}

.forgot-title{
  color: var(--cor-azul-escuro);
  font-family: var(--fonte-titulos);
  font-size: 24px;
  font-weight: var(--peso-negrito);
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 8px;
}
.forgot-description{
  font-family: var(--fonte-texto);
  font-size: 14px;
  color: oklch(44.6% 0.043 257.281);
  text-align: center;
  line-height: 1.5;
}

.forgot-btn{
  width: 100%;
  font-family: var(--fonte-texto);
  font-size: var(--tamanho-base);
  font-weight: var(--peso-medio);
  background-color: var(--cor-azul-escuro);
  padding: 16px 8px;
  color: var(--cor-creme);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-btn:hover {
  transition: all 0.3s ease;
  filter: brightness(1.1);
  cursor: pointer;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border: 2px solid transparent;
  border-top: 2px solid var(--cor-creme);
  animation: spin 1s linear infinite;
  border-radius: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
