.documento-itemc {
  margin-bottom: 0rem;
}

.documento-itemc:last-child {
  margin-bottom: 0;
}

.documento-linkc {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

.documento-linkc:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.documento-iconec {
  margin-right: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.documento-iconec img {
  width: 20px;
  height: 23px;
}

.documento-infoc {
  display: flex;
  flex-direction: column;
  border-bottom: 0.5px solid var(--cor-azul-escuro);
  padding-bottom: 0.8rem;


  width: 100%;
}

.documento-tituloc {
  font-family: var(--fonte-titulo);
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--cor-azul-escuro);
  margin-bottom: 0rem;
  text-align: left;
}

.documento-tipoc {
  font-family: var(--fonte-corpo);
  font-size: 0.5rem;
  color: var(--cor-cinza-escuro);
  text-transform: uppercase;
  text-align: left;
}
